h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}

button {
    background-color: blueviolet;
    color: aliceblue;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: block;
    margin: 15px auto;
    cursor: pointer;
}